@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownUserLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-1"></i>

                @User.Identity.Name

                @if (User.IsInRole("admin"))
                {
                    <span class="badge bg-danger text-white ms-2">Admin</span>
                }
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUserLink">
                <li>
                    <form class="mb-0" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right me-2"></i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>
                Login
            </a>
        </li>
    }
</ul>