version: "3.9"

services:

  mssql:
     image: mcr.microsoft.com/mssql/server:2022-latest
     container_name: winedge_db
     restart: always
     environment:
       SA_PASSWORD: "Winedge@123"
       ACCEPT_EULA: "Y"
     ports:
       - "1433:1433"
     volumes:
       - mssql_data:/var/opt/mssql

  winedge-app:
    build: .
    container_name: winedge-app
    restart: always

    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: "Server=mssql;Database=Winedge;User=sa;Password=Winedge@123;TrustServerCertificate=True;ConnectRetryCount=5;ConnectRetryInterval=10;"

    ports:
      - "8082:5000"

volumes:
  mssql_data:
